    <!-- ******FEATURES****** -->
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Features</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="material-icons">check</i> Track most visited pages and top pages by score</li>
                <li><i class="material-icons">check</i> Track engagement score changes over week/month</li>
                <li><i class="material-icons">check</i> Find which content sections are most engaging</li>
                <li><i class="material-icons">check</i> Get Insights & Reports</li>
                <li><i class="material-icons">check</i> and more</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
